POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=shopapi
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=user@example.com
PGADMIN_DEFAULT_PASSWORD=securepassword

SERVICE_HOST=localhost
SERVICE_PORT=8080